<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h1>Game List</h1>
    <div id="gameList">
      <ul>
        <% if (games) { %>
          <%
            function gameListGen(address, host) {
              return `<li>Address: ${address}, Host: ${host} <a href="http://localhost:3000/game/` + address + '">' + 'Join' + '</a></li>';
            }
            const gameList = JSON.parse(games);
            var list = '';
            for (i = 0; i < gameList.length; i++) {
              list += gameListGen(gameList[i].address, gameList[i].host);
            }
          %>
          <script>
            var gameList = JSON.parse('<%- games %>');
          </script>
          <%- list %>
        <% } %>
      </ul>
    </div>
    <h3>Make New Game</h3>
    <div id="makeNewGame">
      <form onsubmit="return false;">
        makeNewGame<br>
        <input type="button" value="Send" onclick="makeNewGame()">
      </form>
      <div class="etherscan-link"></div>
    </div>
    <span id='gameList' hidden>
      <%= JSON.stringify(games); %>
    </span>
  </body>

  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script>
    function gameListGen(address, host) {
      return `<li>Address: ${address}, Host: ${host} <a href="http://localhost:3000/game/` + address + '">' + 'Join' + '</a></li>';
    }
    const ABI = {
      bombermanPlatform: [{"constant":false,"inputs":[],"name":"makeNewGame","outputs":[],"payable":false,"stateMutability":"nonpayable","type":"function"},{"anonymous":false,"inputs":[{"indexed":false,"name":"newGame","type":"address"},{"indexed":false,"name":"host","type":"address"}],"name":"NewGame","type":"event"}],
      bomberman: [{"constant":true,"inputs":[],"name":"deliveryExplosionTime","outputs":[{"name":"","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[],"name":"bomberman","outputs":[{"name":"","type":"address"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[],"name":"round","outputs":[{"name":"","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[],"name":"reward","outputs":[{"name":"","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[],"name":"MAX_WINNERS","outputs":[{"name":"","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[{"name":"","type":"uint256"}],"name":"participants","outputs":[{"name":"","type":"address"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[],"name":"stake","outputs":[{"name":"","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":false,"inputs":[{"name":"_participantNumbers","type":"uint256"},{"name":"_stake","type":"uint256"}],"name":"openGame","outputs":[],"payable":true,"stateMutability":"payable","type":"function"},{"constant":true,"inputs":[],"name":"EXPLOSION_TIME_ROUND","outputs":[{"name":"","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":false,"inputs":[{"name":"_from","type":"address"},{"name":"_to","type":"address"}],"name":"deliver","outputs":[],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":false,"inputs":[],"name":"endGame","outputs":[],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":true,"inputs":[],"name":"gameStatus","outputs":[{"name":"","type":"uint8"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[],"name":"openedTime","outputs":[{"name":"","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[],"name":"isExplosionTimeLeft","outputs":[{"name":"","type":"bool"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[],"name":"participantsLeft","outputs":[{"name":"","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[],"name":"JOIN_WAITING_TIME","outputs":[{"name":"","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[],"name":"rewardPerWinner","outputs":[{"name":"","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":false,"inputs":[],"name":"join","outputs":[],"payable":true,"stateMutability":"payable","type":"function"},{"constant":false,"inputs":[],"name":"explode","outputs":[],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":false,"inputs":[],"name":"startNewRound","outputs":[],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":true,"inputs":[],"name":"MIN_STAKE","outputs":[{"name":"","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[],"name":"lastDeliveryman","outputs":[{"name":"","type":"address"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":false,"inputs":[],"name":"cancelGame","outputs":[],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":true,"inputs":[],"name":"EXPLOSION_TIME_DELIVERY","outputs":[{"name":"","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[],"name":"MIN_GUESTS","outputs":[{"name":"","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[],"name":"MAX_GUESTS","outputs":[{"name":"","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[],"name":"CREDIT","outputs":[{"name":"","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[{"name":"","type":"address"}],"name":"alive","outputs":[{"name":"","type":"bool"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[],"name":"roundExplosionTime","outputs":[{"name":"","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[],"name":"host","outputs":[{"name":"","type":"address"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":false,"inputs":[],"name":"readyGame","outputs":[],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":true,"inputs":[],"name":"participantNumbers","outputs":[{"name":"","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[{"name":"","type":"address"}],"name":"credits","outputs":[{"name":"","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":false,"inputs":[],"name":"receiveReward","outputs":[],"payable":false,"stateMutability":"nonpayable","type":"function"},{"inputs":[{"name":"_host","type":"address"}],"payable":false,"stateMutability":"nonpayable","type":"constructor"},{"payable":true,"stateMutability":"payable","type":"fallback"},{"anonymous":false,"inputs":[{"indexed":false,"name":"guestNumbers","type":"uint256"},{"indexed":false,"name":"stake","type":"uint256"},{"indexed":false,"name":"openedTime","type":"uint256"}],"name":"GameOpened","type":"event"},{"anonymous":false,"inputs":[{"indexed":false,"name":"participant","type":"address"},{"indexed":false,"name":"participants","type":"uint256"}],"name":"Joined","type":"event"},{"anonymous":false,"inputs":[{"indexed":false,"name":"closedTime","type":"uint256"}],"name":"GameCanceled","type":"event"},{"anonymous":false,"inputs":[{"indexed":false,"name":"totalReward","type":"uint256"}],"name":"GameReady","type":"event"},{"anonymous":false,"inputs":[{"indexed":false,"name":"currentRound","type":"uint256"}],"name":"GameReset","type":"event"},{"anonymous":false,"inputs":[{"indexed":false,"name":"round","type":"uint256"},{"indexed":false,"name":"roundExplosionTime","type":"uint256"}],"name":"GameStarted","type":"event"},{"anonymous":false,"inputs":[{"indexed":false,"name":"from","type":"address"},{"indexed":false,"name":"to","type":"address"},{"indexed":false,"name":"deliveryman","type":"address"},{"indexed":false,"name":"leftCredits","type":"uint256"},{"indexed":false,"name":"bomberman","type":"address"}],"name":"DeliverFailed","type":"event"},{"anonymous":false,"inputs":[{"indexed":false,"name":"from","type":"address"},{"indexed":false,"name":"to","type":"address"},{"indexed":false,"name":"deliveryman","type":"address"},{"indexed":false,"name":"deliveryExplosionTime","type":"uint256"}],"name":"BombDelivered","type":"event"},{"anonymous":false,"inputs":[{"indexed":false,"name":"bomberman","type":"address"},{"indexed":false,"name":"deliveryman","type":"address"}],"name":"BombExploded","type":"event"},{"anonymous":false,"inputs":[{"indexed":false,"name":"participant","type":"address"}],"name":"Dead","type":"event"},{"anonymous":false,"inputs":[{"indexed":false,"name":"round","type":"uint256"},{"indexed":false,"name":"winners","type":"uint256"},{"indexed":false,"name":"rewardPerWinner","type":"uint256"}],"name":"GameEnded","type":"event"},{"anonymous":false,"inputs":[{"indexed":false,"name":"receiver","type":"address"},{"indexed":false,"name":"rewardPerWinner","type":"uint256"}],"name":"RewardReceived","type":"event"}],
    }
    const socket = io();

    socket.on('NewGame', (newGame) => {
      const {address, host} = newGame
      let has = false;
      for (let i = 0; i < gameList.length; i++) {
        if (gameList[i].address.toLowerCase() === address.toLowerCase()) {
          has = true;
        }
      }

      if (!has) {
        $("#gameList ul").append(gameListGen(address, host));
        gameList.push(newGame);
      }
    });

    let bombermanPlatform
    let userAccount;

    window.addEventListener('load', function() {
      if (typeof web3 !== 'undefined') {
        window.web3 = new Web3(web3.currentProvider);
      } else {
        window.web3 = new Web3(new Web3.providers.HttpProvider("http://localhost:8545"));
      }

      userAccount = undefined;
      setInterval(function() {
        if(web3.eth.accounts[0] !== userAccount) {
          userAccount = web3.eth.accounts[0];
          console.log('changed', userAccount);
        }
      }, 100);

      bombermanPlatform = web3.eth.contract(ABI.bombermanPlatform).at('0xa2180F16331B0DAc86c93DfE82f927985d24D6E1');
    });

    function makeNewGame() {
      bombermanPlatform.makeNewGame(
        {from : userAccount},
        function(err, txHash) {
          const target = $("#makeNewGame .etherscan-link");
          target.children("*").remove();
          if (err) {
            target.text(err);
          } else {
            const link = `https://ropsten.etherscan.io/tx/${txHash}`;
            target.append(`<a href="${link}">${link}</a>`);
          }
        }
      );
    }

    function getFormObject(query) {
      const serializedArray = query.serializeArray();
      const output = {};
      for (let i = 0; i < serializedArray.length; i++) {
        output[serializedArray[i].name] = serializedArray[i].value;
      }
      return output;
    }
  </script>
</html>
